
вкр1.1/bin/Debug/WinFormInfSys.exe
вкр1.1/bin/Debug/WinFormInfSys.pdb
вкр1.1/obj/Debug/WinFormInfSys.csproj.GenerateResource.cache
вкр1.1/obj/Debug/WinFormInfSys.csprojAssemblyReference.cache
вкр1.1/obj/Debug/WinFormInfSys.exe
вкр1.1/obj/Debug/WinFormInfSys.pdb
.vs/WinFormInfSys/v16/.suo
вкр1.1/bin/Debug/WinFormInfSys.pdb
вкр1.1/bin/Debug/WinFormInfSys.exe
вкр1.1/obj/Debug/WinFormInfSys.Window._edit_TeacherProjectsEdit.resources
вкр1.1/obj/Debug/WinFormInfSys.TeacherProjectsEdit.resources
вкр1.1/obj/Debug/WinFormInfSys.pdb
вкр1.1/obj/Debug/WinFormInfSys.Menu.resources
вкр1.1/obj/Debug/WinFormInfSys.exe
вкр1.1/obj/Debug/WinFormInfSys.csprojAssemblyReference.cache
вкр1.1/obj/Debug/WinFormInfSys.csproj.GenerateResource.cache
вкр1.1/obj/Debug/WinFormInfSys.csproj.FileListAbsolute.txt
вкр1.1/obj/Debug/WinFormInfSys.csproj.CoreCompileInputs.cache
