
вкр1.1/bin/Debug/WinFormInfSys.exe
вкр1.1/bin/Debug/WinFormInfSys.pdb
вкр1.1/obj/Debug/WinFormInfSys.csproj.GenerateResource.cache
вкр1.1/obj/Debug/WinFormInfSys.csprojAssemblyReference.cache
вкр1.1/obj/Debug/WinFormInfSys.exe
вкр1.1/obj/Debug/WinFormInfSys.pdb
.vs/WinFormInfSys/v16/.suo
